fastapi
uvicorn
torch
pillow
opencv-python-headless
psycopg2-binary
open-clip-torch
numpy
pandas
ffmpeg-python
transformers
pgvector
matplotlib
deepface
tf-keras
openai-whisper
moviepy
python-multipart
python-multipart